body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  background-color: #849d8f;
}
a {
  color: #ffffff;
}
img {
  max-width: 100%;
  height: auto;
  }
body input[type=email],
body input[type=password],
body input[type=search],
body input[type=text],
body textarea {
  box-sizing: border-box;
  margin-top: 20px;
  margin-right: 0;
  padding: 10px 14px;
  overflow: hidden;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  border: 1px solid rgba(178,178,178,.52);
  border-radius: 5px;
  box-shadow: none
  }
input[type=email]:hover,
input[type=password]:hover,
input[type=search]:hover,
input[type=text]:hover,
textarea:hover {
    padding: 9px 13px;
    border: 2px solid rgba(154,154,154,.52)
    }
input[type=email]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=text]:focus,
textarea:focus {
    padding: 9px 13px;
    font-weight: 700;
    border: 2px solid rgba(46,136,228,.52);
    outline: none
    }
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 6px 27px 25px 27px;
}
.btn {
  background: linear-gradient(180deg, #f26843, #e84c36);
  color: #ffffff;
  border-radius: 32px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  border: none;
}
.main-menu {
  display: flex;
}
.submenu > .active > a {
  color: white;
  background-color: rgb(208, 112, 88);
}
.submenu,
.search-form,
.login-form,
.basket-form,
.feedback-form
 {
  display: none;
}
.user-navigation {
  margin-left: auto;
}
.site-navigation {
  display: flex;
  max-width: 700px;
  flex-wrap: wrap;
}
.site-navigation li,
.user-navigation li {
  list-style: none;
}
.site-navigation li {
  margin-right: 30px;
}
.site-navigator {
  display: block;
  font-size: 16px
  line-height: 18px;
  padding: 5px 13px;
  border-radius: 32px;
  text-decoration: underline;
  font-weight: bold;
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus
 {
  background-color: #ffffff;
  color: #323232;
  text-decoration: none;
}
.site-navigation > .catalog {
  position: relative;
}
.submenu {
  position: absolute;
  top: 37px;
  left: -7px;
  background-color: #f7f6f3;
  width: 143px;
  padding: 0px;
  margin: 0px;
  border-radius: 5px;
}

.submenu a {
  display: block;
  width: 122px;
  padding-left: 21px;
  padding-top: 7px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
}
.submenu .submenu-new {
  padding-top: 11px;
}
hr {
  width: 128px;
  padding: 0px;
  margin: 0px auto;
}
.submenu a:hover,
.submenu a:focus {
  background-color: #fbded7;
}
.submenu a:active {
  background-color: #f6b5a5;
}
.site-navigation > li:hover .submenu {
  display: block;
}
.user-navigation {
  display: flex;
  justify-content: flex-end;
  max-width: 280px;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}
.user-navigation a {
  display: block;
  margin-left: 10px;
  background-color: #9db1a5;
  border-radius: 32px;
  text-decoration: none;
}
.user-navigation li {
  position: relative;
}
.search-btn {
  width: 16px;
  height: 16px;
  padding: 8px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.search-btn:hover,
.search-btn:focus,
 .search-btn:active {
  background-image: url("../img/search-black.svg");
}
.login-btn {
  position: relative;
  width: 47px;
  height: 23px;
  padding-left: 45px;
  padding-top: 9px;
}
.login-btn::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 16px;
  width: 20px;
  height: 20px;
  background-image: url("../img/entrance-white.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.login-btn:hover::before,
.login-btn:focus::before,
.login-btn:active::before {
  background-image: url("../img/entrance.svg");
}
.basket-btn {
  position: relative;
  width: 72px;
  height: 23px;
  padding-left: 45px;
  padding-top: 9px;
}
.basket-btn::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 20px;
  height: 20px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.basket-btn:hover::before,
.basket-btn:focus::before,
.basket-btn:active::before {
  background-image: url("../img/basket-red.svg");
}
.user-form {
  position: absolute;
  top: 36px;
  right: 0px;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.user-navigation > li:hover .user-form {
  display: block;
}
.search-form {
  width: 341px;
  height: 84px;
}
.search-form input {
  width: 311px;
  height: 44px;
  margin-left: 15px;
}
.login-form {
  width: 277px;
  height: 214px;
}
.login-form input {
  width: 241px;
  height: 44px;
  margin-left: 19px;
}
.go-btn {
  width: 100px;
  height: 44px;
  margin-top: 20px;
  margin-left: 19px;
}
.supporting-links {
  position: absolute;
  bottom: 27px;
  right: 20px;
}
.supporting-links a {
  font-size: 13px;
  line-height: 20px;
  background-color: #ffffff;
  color: #323232;
}
.supporting-links {
  font-size: 13px;
  line-height: 24px;
  text-decoration: underline;
  font-weight: normal;
}
.basket-form {
  background-color: white;
}
.basket tr {
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  color: #323232;
}
.money{
  color: grey;
}
.result {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  color: #323232;
}

.info-block {
  margin-top: -10px;
}
.info {
  text-align: right;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}
strong {
  font-size: 22px;
  line-height: 24px;
}
.slider-title {
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}
.buy-btn {
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  text-decoration: none;
}
.promo {
  display: flex;
  margin-bottom: 40px;
}
.promo-item {
  width: 510px;
  height: 206px;
  padding-left: 20px;
  padding-top: 23px;
  padding-right: 30px;
  border-radius: 15px;
}
.promo-raspberry {
  position: relative;
  background-color: #6e1326;
  background-image: url("../img/background-rasp.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 27px;
}
.promo-chocolat {
  position: relative;
  background-color: #40271d;
  background-image: url("../img/background-chocolat.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.promo-title {
  font-size: 35px;
  line-height: 35px;
  font-weight: bold;
  color: #ffffff;
  margin: 0px;
}
.promo-info {
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 28px
}
.buy-btn-promo {
  position: absolute;
  bottom: 23px;
  right: 21px;
  display: block;
  height: 34px;
  padding-top: 12px;
  padding-left: 22px;
  padding-right: 23px;
  background: linear-gradient(180deg, #f26843, #e84c36);
  font-size: 18px;
  text-decoration: none;
}
.catalog-item li:hover {
  background-color: #9bafa3;
  padding-top: 6px;
  padding-left: 13px;
  padding-right: 13px;
  border-radius: 5px;
}
.catalog-item-name {
  font-size: 16px;
  line-height: 22px;
  text-decoration: underline;
  color: #ffffff;
  font-weight: normal;
}
.price {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  color: #ffffff;
}
.kg {
  font-size: 25px;
  line-height: 25px;
}
.catalog-item-img {
  border-radius: 266px;
}
.features {
  background-color: #e4d7bc;
  background-image: url("../img/wafer.jpg");
  width: 1093px;
  padding-top: 27px;
  padding-left: 18px;
  padding-right: 33px;
  border-radius: 15px;
}
.feature-name {
  font-size: 24px;
  line-height: 30px;
}
.features-item {
  display: flex;
  margin: 0px;
  padding: 0px;
  margin-top: 21px;
  margin-left: 57px;
}
.feature-list {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.feature-list li {
  position: relative;
  width: 480px;
  padding-bottom: 24px;
}
.feature-list:last-child {
  padding-left: 87px;
}
.feature-list li::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -57px;
  width: 49px;
  height: 49px;
}
.ice-cream::before {
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.eco::before {
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.cow::before {
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.thermometer::before {
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.article-title a {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-decoration: underline;
  background-color: rgba(255,255,255,0.5);
  color: #000000;
}
.discription {
  color: 5a5a5a;
}
.discription-send {
  font-size: 18px;
  line-height: 24px;
}
.news {
  background-image: url("../img/background-news.png");
}
.catalog-item {
  display: flex;
  padding-left: 27px;
  padding-right: 27px;
}
.catalog-item li {
  list-style: none;
  width: 267px;
  margin-right: 27px;
}
.news-distribution {
  display: flex;
  padding-left: 27px;
  padding-right: 27px;
  margin-top: 40px;
}
.news, .distribution {
  background-color: white;
  min-width: 420px;
  max-width: 520px;
  width: 100%;
  margin-right: 27px;
  padding-left: 20px;
  padding-right: 30px;
}
.map {
  margin-top: 40px;
}
.address {
  width: 277px;
  background-color: #ffffff;
  padding-left: 25px;
  padding-top: 33px;
}
.page-footer {
  display: flex;
  padding-left: 27px;
  padding-right: 27px;
  justify-content: space-between;
}
.footer-social {
  display: flex;
}
.footer-menu {
  display: flex;
}
.footer-copyright {
  color: #ffffff;
}
